<%= attachment_image_tag @item, :image, size: '350x300', format: "jpeg" %>
<h3><%= @item.name %></h3>
<%= @item.introduction %>
<%= (@item.price * 1.1).floor %>円（税込）

<%= form_with model: @cart_item, method: :post, url:public_cart_items_path, local: true do |f| %>
 <%= f.hidden_field :item_id, :value => @item.id %>
 <%= f.select :amount, *[1..10] %>
 <%= f.submit "カートに入れる" %>
<% end %>